@model RAUGS.Models.ContatoModel

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Está certo de que deseja apagar isto?</h3>
<div>
    <h4>Contato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone_Residencial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone_Residencial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inscricao_Estadual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inscricao_Estadual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone_Comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone_Comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
